<div class="spacer"></div>

<div class="row arb-header">
  <div class="row">
    <div class="col s4">
      <select class="browser-default col s9" ng-model="vm.currSelected" ng-options="currency.full_name for currency in vm.symbolIndex | orderBy: 'full_name'">
        <option value="">(browse all cryptos)</option>
      </select>
      <button class="btn col offset-s1 s2" name="button" ng-click="vm.addCurr()">Add</button>
    </div>
    <div class="col s5 center-align" ng-click="vm.searchActive = !vm.searchActive">
      Search for a Crypto
      <input ng-model="cryptoSearch">
    </div>
    <div class="col s3 input-field">
      <select ng-model="vm.activeMkt" ng-change="vm.adjustDec()">
        <option selected value="BTC">Bitcoin (BTC)</option>
        <option value="USD">USD$ (USD)</option>
        <option value="ETH">Ethereum (ETH)</option>
      </select>
      <label>Select Market</label>
    </div>
  </div>
  <div class="row cryptoSearch" ng-show="vm.searchActive">
    <span class="findCrypto" ng-repeat="symbol in vm.symbolIndex | filter: cryptoSearch">{{symbol.full_name}}</span>
  </div>
</div>


<div class="row">
  <table class="col s12">
    <thead>
      <tr>
        <th>Currency</th>
        <th></th>
        <th>Low</th>
        <th>High</th>
        <th>Spread %</th>
        <th>GDAX</th>
        <th>Bittrex</th>
        <th>Binance</th>
        <th>HitBTC</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ticker in vm.activeTickers">
        <td> {{ticker.full_name}} </td>
        <td> <span ng-click="vm.removeCurr(ticker)" tooltipped data-position="left" data-delay="20" data-tooltip="Remove"><i class="fa fa-times-circle" aria-hidden="true"></i></span> </td>
        <td> {{vm.marketMins[ticker.symbol][vm.activeMkt] | number: vm.activeDec}} </td>
        <td> {{vm.marketMaxs[ticker.symbol][vm.activeMkt] | number: vm.activeDec}} </td>
        <td> {{((vm.marketMaxs[ticker.symbol][vm.activeMkt] - vm.marketMins[ticker.symbol][vm.activeMkt])/vm.marketMaxs[ticker.symbol][vm.activeMkt]) | percentage:1}} </td>
        <td ng-class="{buy: vm.gdaxMkt[ticker.market[vm.activeMkt]['gdax']] == vm.marketMins[ticker.symbol][vm.activeMkt], sell: vm.gdaxMkt[ticker.market[vm.activeMkt]['gdax']] == vm.marketMaxs[ticker.symbol][vm.activeMkt]}"> {{vm.gdaxMkt[ticker.market[vm.activeMkt]['gdax']] | number: vm.activeDec}} </td>
        <td ng-class="{buy: vm.bittrexMkt[ticker.market[vm.activeMkt]['bittrex']] == vm.marketMins[ticker.symbol][vm.activeMkt], sell: vm.bittrexMkt[ticker.market[vm.activeMkt]['bittrex']] == vm.marketMaxs[ticker.symbol][vm.activeMkt]}"> {{vm.bittrexMkt[ticker.market[vm.activeMkt]['bittrex']] | number: vm.activeDec}} </td>
        <td ng-class="{buy: vm.binanceMkt[ticker.market[vm.activeMkt]['binance']] == vm.marketMins[ticker.symbol][vm.activeMkt], sell: vm.binanceMkt[ticker.market[vm.activeMkt]['binance']] == vm.marketMaxs[ticker.symbol][vm.activeMkt]}"> {{vm.binanceMkt[ticker.market[vm.activeMkt]['binance']] | number: vm.activeDec}} </td>
        <td ng-class="{buy: vm.hitbtcMkt[ticker.market[vm.activeMkt]['hitbtc']] == vm.marketMins[ticker.symbol][vm.activeMkt], sell: vm.hitbtcMkt[ticker.market[vm.activeMkt]['hitbtc']] == vm.marketMaxs[ticker.symbol][vm.activeMkt]}"> {{vm.hitbtcMkt[ticker.market[vm.activeMkt]['hitbtc']] | number: vm.activeDec}} </td>
      </tr>
    </tbody>
  </table>
</div>
