/*Arbitrage page styles*/

.spacer {
  margin-top: 5px;
}

.arb-header {
  background-color: #EBEBEB;
  padding: 15px 0 5px 0;
}

.sell {
  color: red;
  font-weight: 800;
}

.favorite {
  color: #C9B057;
}

.non-fav {
  color: black;
}

.down {
  color: red;
  font-size: 10px;
  padding-left: 5px;
}

.buy {
  color: green;
  font-weight: 800;
}

.up {
  color: green;
  font-size: 10px;
  padding-left: 5px;
}

.vol {
  font-size: 8px;
}

.cryptoSearch {
  border: solid 2px black;
  height: 100px;
  overflow: scroll;
}

.findCrypto {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-weight: 800;
  padding: 0 10px 0 10px;
  margin: 3px 3px 0 3px;
  display: inline-block;
}

.wrapper {
  padding: 0 0 200px 0;
}

.fa-star:hover {
    color: #C9B057;
}

.fa-arrow-up:hover {
  color: #11A62A;
}

.fa-times-circle:hover {
  color: #AC2A21;
}

.material-tooltip > .backdrop {
  background-color: #929292;
}

.menu {
  margin-top: 0;
  padding-top: 0;
}

/* Trade page styles */

.trade-options {
  border: solid 1px #EEEDEE;
  padding: 3px 0 5px 0;
  height: 175px;
  background-color: #EEEDEE;
}

.lead-label {
  display: inline-block;
  color: #A19E9E;
}

.partial-trade .top {
  margin: -10px 0 -5px 0;
  padding-top: 0;
}

.partial-trade header .row {
  height: 25px;
  background-color: grey;
  margin-top: 0px;
  padding: 3% 0 3% 0;
}

.purch-row {
  padding-top: 0;
  margin-top: 0;
  background-color: #ECECEC;
}

.purch-cat {
  margin-top: -10px;
  /* border: solid 1px black; */
}

.confirm-row {
  height: 30px;
  background-color: #A9C2DF;
  margin-top: -25px;
}

.sell-row {
  margin-top: -20px;
  padding-top: 0;
  background-color: #ECECEC;
}

.summary-row {
  margin-top: -20px;
  padding-top: 0;
  background-color: #ECECEC;
}

.base-q {
  padding-left: 5px;
}

.trade-buy {
  background-color: #0F4F99;
  color: white;
  height: 60px;
  font-weight: 800;
  padding-top: 15%;
}

.trade-buy-sub {
  background-color: #ECF7FF;
}

.trade-sell {
  background-color: #AC2A21;
  color: white;
  height: 60px;
  font-weight: 800;
  padding-top: 15%;
}

.trade-summary {
  background-color: black;
  color: white;
  height: 60px;
  font-weight: 800;
  padding-top: 5%;
}

.depositTable {
  border: solid 3px #0D60BC;
}

.depositTable tr {
  border: solid 1px #0D60BC;
  padding: 0;
  margin: 0;
  line-height: 20px;
}

.depositTable td {
  padding: 0 0 0 10px;
  margin: 0;
}

.tradeTable tr {
  padding: 0;
  margin: 0;
  line-height: 20px;
}

.tradeTable td {
  padding: 0 0 0 10px;
  margin: 0;
}

.tradeDesc {
  font-size: 10px;
}

.cat {
  font-weight: 600;
}

.warn {
  color: red;
}

.notes {
  margin-left: -10px;
  padding-right: 5px;
  font-size: 10px;
}

.fill-later {
  font-size: 22px;
  margin-left: 25px;
}
