/*Arbitrage page classes*/

.spacer {
  margin-top: 5px;
}

.arb-header {
  background-color: #EBEBEB;
  padding: 15px 0 5px 0;
}

.sell {
  color: red;
  font-weight: 800;
}

.favorite {
  color: #C9B057;
}

.non-fav {
  color: black;
}

.down {
  color: red;
  font-size: 10px;
  padding-left: 5px;
}

.buy {
  color: green;
  font-weight: 800;
}

.up {
  color: green;
  font-size: 10px;
  padding-left: 5px;
}

.vol {
  font-size: 8px;
}

.cryptoSearch {
  border: solid 2px black;
  height: 100px;
  overflow: scroll;
}

.findCrypto {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-weight: 800;
  padding: 0 10px 0 10px;
  margin: 3px 3px 0 3px;
  display: inline-block;
}

.wrapper {
  padding: 0 0 200px 0;
}

.fa-star:hover {
    color: #C9B057;
}

.fa-arrow-up:hover {
  color: #11A62A;
}

.fa-times-circle:hover {
  color: #AC2A21;
}

.material-tooltip > .backdrop {
  background-color: #929292;
}

.menu {
  margin-top: 0;
  padding-top: 0;
}
