<div class="row">
  <div class="col s12">
    Select trade type
    <div class="input-field">
      <select class="col s4" ng-model="vm.tradeType" ng-change="vm.tradeView(vm.tradeType)">
        <option value="long">Long-Term Position</option>
        <option value="short">Short-Term Flip</option>
        <option value="arb">Arbitrage</option>
        <option value="transfer">Transfer</option>
      </select>
    </div>
  </div>
</div>

<div ui-view="long"></div>
<div ui-view="short"></div>
<div ui-view="arb"></div>
<div ui-view="transfer"></div>
