    This is the deposit view
<form ng-submit="vm.tradeSubmit(trade)">
  <div class="row">
    <div class="col s6">
      <div class="dateFields">
        <span>Date</span>
        <div class="input-field inline">
          <input ng-model="trade.date" type="date">
        </div>
        <span> @ </span>
        <div class="input-field inline clock">
          <input ng-model="trade.time" type="time">
        </div>
        <!-- <div class="input-field inline">
          <input type="datetime-local" ng-model="trade.date">
        </div> -->
      </div>
    </div>
  </div>

  <div class="row tradeRow">
    <div class="col s6">
      <div class="exchFields">
        <span>Exchange</span>
        <div class="input-field inline">
          <select ng-model="trade.exch_deposit" ng-init="trade.exch_deposit = vm.exchanges[0]">
            <option ng-repeat="exchange in vm.exchanges">{{exchange}}</option>
            <!-- <option value="GDAX">GDAX</option>
            <option value="Coinbase">Coinbase</option>
            <option value="Bitfinex">Bitfinex</option>
            <option value="other">Other</option> -->
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <button type="submit">Submit</button>
    </div>
  </div>
</form>
