    This is the deposit view
<div class="row">
  <div class="col s6">
    <div class="input-field inline">
      <input type="number" maxlength="2" id="date_mm">
      <label for="date_mm">MM</label>
    </div>
    <span>/</span>
    <div class="input-field inline">
      <input type="number" maxlength="2" id="date_dd">
      <label for="date_dd">DD</label>
    </div>
    <span>/</span>
    <div class="input-field inline">
      <input type="number" maxlength="4" id="date_yyyy">
      <label for="date_yyyy">YYYY</label>
    </div>
    <span> @ </span>
    <div class="input-field inline">
      <input type="number" maxlength="4" id="time_hh">
      <label for="time_hh">HH</label>
    </div>
    <span>:</span>
    <div class="input-field inline">
      <input type="number" maxlength="4" id="time_mm">
      <label for="time_mm">MM</label>
    </div>
    <div class="input-field inline" style="width: 40px" id="time_sel">
      <select >
        <option value="AM">AM</option>
        <option selected value="PM">PM</option>
      </select>
    </div>
  </div>
</div>
