<div class="row">
  <div class="col s12">
    This is the full trade view
  </div>
</div>

<div class="row">
  <div class="col s5">
    <form ng-submit="vm.tradeSubmit(vm.trade)">
      <table class="tradeTable z-depth-3">
        <colgroup>
          <col style="width: 20%">
          <col style="width: 40%">
          <col style="width: 40%">
        </colgroup>
        <tbody>
          <tr>
            <td class="cat">Date Processed</td>
            <td colspan="2">
              <div class="input-field inline"  style="width: 140px">
                <input ng-model="vm.trade.date" type="date">
              </div>
              <span> @ </span>
              <div class="input-field inline clock">
                <input ng-model="vm.trade.time" type="time">
              </div>
            </td>
          </tr>
          <tr class="purch-row">
            <td colspan="3" class="center-align">PURCHASED</td>
          </tr>
          <tr class="purch-row">
            <td class="cat">Currency</td>
            <td>
              <div class="input-field inline">
                <input ng-model="vm.trade.curr_bought" ng-blur="vm.findCurrency(vm.trade.curr_bought, 'buy')">
              </div>
            </td>
            <td>{{vm.symbolCredit}}</td>
          </tr>
          <tr class="purch-row">
            <div class="input-field inline">
              <td class="cat"> <span ng-show="vm.trade.curr_bought == undefined || vm.trade.curr_bought == null || vm.trade.curr_bought == ''">Quantity</span>  {{vm.trade.curr_bought}} Purchased</td>
              <td>
                <div class="input-field inline">
                  <input ng-model="vm.trade.qty">
                </div>
              </td>
              <td></td>
            </div>
          </tr>
          <tr class="purch-row">
            <div class="input-field inline">
              <td class="cat"> Rate </td>
              <td>
                <div class="input-field inline">
                  <input ng-model="vm.trade.rate">
                </div>
              </td>
              <td style="font-size: 24px">{{vm.trade.curr_sold}}</td>
            </div>
          </tr>
          <tr class="sell-row">
            <td class="cat">Base Currency Sold</td>
            <td>
              <div class="input-field inline">
                <input ng-model="vm.trade.curr_sold" ng-blur="vm.findCurrency(vm.trade.curr_bought, 'sell')">
              </div>
            </td>
            <td>{{vm.symbolDebit}}</td>
          </tr>
          <tr>
            <td class="cat">Exchange</td>
            <td>
              <div class="input-field inline">
                <select ng-model="vm.trade.exchange">
                  <option ng-repeat="exchange in vm.exchanges">{{exchange}}</option>
                </select>
              </div>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <div class="input-field inline">
              <td class="cat">Fee</td>
              <td>$
                <div class="input-field inline">
                  <input ng-model="vm.trade.fee | number:2">
                </div>
              </td>
              <td></td>
            </div>
          </tr>
          <tr>
            <div class="input-field inline">
              <td class="cat">Amount Received</td>
              <td>$
                <div class="input-field inline">
                  <input ng-model="vm.trade.total | number:2">
                </div>
              </td>
              <td></td>
            </div>
          </tr>
          <tr>
            <td colspan="3">
              <div class="input-field inline">
                <button class="btn center-align" type="submit">Submit</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
