<div class="row">
  <div class="col s8" style="border: solid black 1px">
    <form class="partial-trade" ng-submit="vm.submitTrade(vm.trade)">
      <section class="row top">
        <div class="col s4">
          <div class="input-field inline">
            <select ng-model="vm.trade.exchange">
              <option ng-repeat="exchange in vm.exchanges">{{exchange}}</option>
            </select>
            <label>Exchange</label>
          </div>
          <!-- <div style="display: inline-block">
            <span>
              <input ng-model="vm.trade.method" class="with-gap" name="method" type="radio" id="account" value="account">
              <label for="account">Account</label>
            </span>
            <span>
              <input ng-model="vm.trade.method" class="with-gap" name="method" type="radio" id="card" value="card">
              <label for="card">Credit Card</label>
            </span>
          </div> -->
        </div>
        <div class="col s8 right-align">
          <div class="lead-label">Time of Trade:</div>
          <div class="input-field inline"  style="width: 140px">
            <input ng-model="vm.trade.date" type="date" id="trade.date">
          </div>
          <span> @ </span>
          <div class="input-field inline clock">
            <input ng-model="vm.trade.time" type="time">
          </div>
        </div>
      </section>
      <section class="row purch-row">
        <div class="col s2 center-align">
          <div ng-class="{'trade-buy': vm.tradeDir == 'buy'}" ng-if="vm.tradeDir == 'buy'">
            BUYING:
          </div>
          <div ng-class="{'trade-sell': vm.tradeDir == 'sell'}" ng-if="vm.tradeDir == 'sell'">
            SELLING:
          </div>
        </div>
        <div class="col s3 purch-cat right-align">
          <div class="input-field inline">
            <input ng-model="vm.trade.qty" id="curr_quantity" type="number" ng-change="vm.calcCost()" step="any">
            <label for="curr_quantity">Enter Quantity</label>
          </div>
        </div>
        <div class="col s2 purch-cat">
          <div class="input-field inline">
            <input ng-model="vm.trade.curr_bought" id="curr_bought" type="text"  ng-blur="vm.findCurrency(vm.trade.curr_bought, 'buy')">
            <label for="curr_bought">Symbol</label>
          </div>
        </div>
        <div class="col s5 purch-cat">
          @
          <div class="input-field inline">
            <input ng-model="vm.trade.rate" id="curr_rate" type="number" ng-change="vm.calcCost()" step="any">
            <label for="curr_rate">Rate</label>
          </div>
          <span>{{vm.trade.curr_sold}}</span><span class="base-q" tooltipped data-position="top" data-delay="10" data-tooltip="You can change your base currency below."><i class="fa fa-question-circle" aria-hidden="true"></i></span>
        </div>
      </section>
      <section class="row confirm-row">
        <div class="col s5 offset-s1">
          <i>Buy Symbol Validator:</i> {{vm.symbolBuy}}
        </div>
        <div class="col s5 offset-s1 left-align">
          <i>Sell Symbol Validator:</i> {{vm.symbolSell}}
        </div>
      </section>
      <section class="row sell-row">
        <div class="col s2 center-align">
          <div ng-class="{'trade-sell': vm.tradeDir == 'buy'}" ng-if="vm.tradeDir == 'buy'">
            AT A COST OF:
          </div>
          <div ng-class="{'trade-buy': vm.tradeDir == 'sell'}" ng-if="vm.tradeDir == 'sell'">
            GETTING BACK:
          </div>
        </div>
        <div class="col s3 right-align">
          <div class="input-field inline">
            <input disabled ng-model="vm.trade.total_cost" id="total_cost" type="number" step="any">
            <label for="total_cost">Total Cost</label>
          </div>
        </div>
        <div class="col s2">
          <div class="input-field inline">
            <input ng-model="vm.trade.curr_sold" id="curr_sold" type="text" ng-blur="vm.findCurrency(vm.trade.curr_bought, 'sell')">
            <label for="curr_sold">Currency Sold</label>
          </div>
        </div>
        <div class="col s5">
          <div class="input-field inline">
            <input ng-model="vm.trade.fee" id="trade_fee" type="number" step="any">
            <label for="trade_fee">Fee</label>
          </div>
          <div class="input-field inline">
            <input ng-model="vm.trade.fee_curr" id="trade_fee_curr" type="text">
            <label for="trade_fee_curr">Fee Currency</label>
          </div>
        </div>
      </section>
      <section class="row summary-row">
        <div class="col s2 center-align">
          <div class="trade-summary">
            TRADE SUMMARY:
          </div>
        </div>
        <div class="col s10">
          <ul>
            <li>
              <span ng-if="vm.tradeDir == 'buy'">Buying</span><span ng-if="vm.tradeDir == 'sell'">Selling</span> <span ng-if="vm.trade.qty">{{vm.trade.qty}}</span><span ng-if="!vm.trade.qty">0</span> shares of <span ng-if="vm.trade.curr_bought">{{vm.symbolBuy}}</span><span ng-if="!vm.trade.curr_bought">(symbol)</span> at a rate of <span ng-if="vm.trade.rate">{{vm.trade.rate}}</span><span ng-if="!vm.trade.rate">0.00</span> {{vm.trade.curr_sold}} on {{vm.trade.exchange}}
            </li>
            <li>Fee is {{vm.trade.fee}} {{vm.trade.fee_curr}}</li>
            <li>Total cost is
              <span ng-show="vm.trade.curr_sold == vm.trade.fee_curr">{{vm.trade.total_cost + vm.trade.fee | number:8}} {{vm.trade.fee_curr}}</span>
              <span ng-show="vm.trade.curr_sold != vm.trade.fee_curr">{{vm.trade.total_cost | number:8}} {{vm.trade.curr_sold}} + {{vm.trade.fee | number:8}} {{vm.trade.fee_curr}}</span>
            </li>
          </ul>
        </div>
      </section>
      <section class="row">
        <div class="col s4 offset-s2">
          <button class="btn" type="submit">Submit Trade</button>
        </div>
      </section>
    </form>
  </div>
</div>

<!-- <div class="row">
  <div class="col s5">
    <form ng-submit="vm.tradeSubmit(vm.trade)">
      <table class="tradeTable z-depth-3">
        <colgroup>
          <col style="width: 20%">
          <col style="width: 40%">
          <col style="width: 40%">
        </colgroup>
        <tbody>
          <tr>
            <td class="cat">Date Processed</td>
            <td colspan="2">
              <div class="input-field inline"  style="width: 140px">
                <input ng-model="vm.trade.date" type="date">
              </div>
              <span> @ </span>
              <div class="input-field inline clock">
                <input ng-model="vm.trade.time" type="time">
              </div>
            </td>
          </tr>
          <tr class="purch-row">
            <td colspan="3" class="center-align">PURCHASED</td>
          </tr>
          <tr class="purch-row">
            <td class="cat">Currency</td>
            <td style="height: 10px">
              <div class="input-field inline">
                <input ng-model="vm.trade.curr_bought" ng-blur="vm.findCurrency(vm.trade.curr_bought, 'buy')">
              </div>
            </td>
            <td>{{vm.symbolBuy}}</td>
          </tr>
          <tr class="purch-row">
            <div class="input-field inline">
              <td class="cat"> Quantity</td>
              <td style="height: 10px">
                <div class="input-field inline">
                  <input ng-model="vm.trade.qty">
                </div>
              </td>
              <td></td>
            </div>
          </tr>
          <tr class="purch-row">
            <div class="input-field inline">
              <td class="cat"> Rate </td>
              <td style="height: 10px">
                <div class="input-field inline">
                  <input ng-model="vm.trade.rate">
                </div>
              </td>
              <td style="font-size: 24px">{{vm.trade.curr_sold}}</td>
            </div>
          </tr>
          <tr class="sell-row">
            <td class="cat">Base Currency Sold</td>
            <td>
              <div class="input-field inline">
                <input ng-model="vm.trade.curr_sold" ng-blur="vm.findCurrency(vm.trade.curr_bought, 'sell')">
              </div>
            </td>
            <td>{{vm.symbolSell}}</td>
          </tr>
          <tr>
            <td class="cat">Exchange</td>
            <td>
              <div class="input-field inline">
                <select ng-model="vm.trade.exchange">
                  <option ng-repeat="exchange in vm.exchanges">{{exchange}}</option>
                </select>
              </div>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <div class="input-field inline">
              <td class="cat">Fee</td>
              <td>$
                <div class="input-field inline">
                  <input ng-model="vm.trade.fee | number:2">
                </div>
              </td>
              <td></td>
            </div>
          </tr>
          <tr>
            <div class="input-field inline">
              <td class="cat">Amount Received</td>
              <td>$
                <div class="input-field inline">
                  <input ng-model="vm.trade.total | number:2">
                </div>
              </td>
              <td></td>
            </div>
          </tr>
          <tr>
            <td colspan="3">
              <div class="input-field inline">
                <button class="btn center-align" type="submit">Submit</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div> -->
