<div class="row">
  <div class="col s10 offset-s1 trade-box z-depth-2">
    <form class="partial-trade" ng-submit="vm.submitTrade(vm.trade)">
      <section class="row top">
        <div class="col s4">
          <div class="input-field inline">
            <select ng-model="vm.trade.exchange" ng-change="vm.calcCost()">
              <option ng-repeat="exchange in vm.exchanges">{{exchange}}</option>
            </select>
            <label>Exchange</label>
          </div>
          <!-- <div style="display: inline-block">
            <span>
              <input ng-model="vm.trade.method" class="with-gap" name="method" type="radio" id="account" value="account">
              <label for="account">Account</label>
            </span>
            <span>
              <input ng-model="vm.trade.method" class="with-gap" name="method" type="radio" id="card" value="card">
              <label for="card">Credit Card</label>
            </span>
          </div> -->
        </div>
        <div class="col s8 right-align">
          <div class="lead-label">Time of Trade:</div>
          <div class="input-field inline"  style="width: 140px">
            <input ng-model="vm.trade.date" type="date" id="trade.date">
          </div>
          <span> @ </span>
          <div class="input-field inline clock">
            <input ng-model="vm.trade.time" type="time">
          </div>
        </div>
      </section>
      <section class="row">
        <div class="col s2 center-align">
          <div ng-class="{'trade-buy': vm.tradeDir == 'buy'}" ng-if="vm.tradeDir == 'buy'">
            BUYING:
          </div>
          <div ng-class="{'trade-sell': vm.tradeDir == 'sell'}" ng-if="vm.tradeDir == 'sell'">
            SELLING:
          </div>
        </div>
        <div class="col s3 purch-cat center-align">
          <div class="input-field inline">
            <input ng-model="vm.trade.buyQty" id="curr_quantity" type="number" ng-change="vm.calcCost()" step="any">
            <label for="curr_quantity">Enter Quantity</label>
          </div>
        </div>
        <div class="col s2 purch-cat">
          <div class="input-field inline">
            <input ng-model="vm.trade.buySymbol" id="curr_bought" type="text"  ng-blur="vm.findCurrency(vm.trade.buySymbol, 'Buy')">
            <label for="curr_bought">Symbol</label>
            <div class="symbol-val">{{vm.symbolBuy}}</div>
          </div>
        </div>
        <div class="col s5 purch-cat">
          @
          <div class="input-field inline">
            <input ng-model="vm.trade.buyRate" id="curr_rate" type="number" ng-change="vm.calcCost()" step="any">
            <label for="curr_rate">Rate</label>
          </div>
          <div class="input-field inline">
            <input ng-model="vm.trade.sellSymbol" id="curr_sold" type="text" ng-blur="vm.trade.feeSymbol = vm.trade.sellSymbol; vm.calcCost()">
            <label for="curr_sold">Currency Sold</label>
            <div class="symbol-val">{{vm.symbolSell}}</div>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="col s2 center-align">
          <div ng-class="{'trade-sell': vm.tradeDir == 'buy'}" ng-if="vm.tradeDir == 'buy'">
            AT A COST OF:
          </div>
          <div ng-class="{'trade-buy': vm.tradeDir == 'sell'}" ng-if="vm.tradeDir == 'sell'">
            GETTING BACK:
          </div>
        </div>
        <div class="col s3 right-align">
          <div class="input-field inline">
            <input disabled ng-model="vm.trade.subTotal" id="total_cost" type="number" step="any">
            <label for="total_cost">Total Cost</label>
          </div>
          <div class="input-field inline">
            <span>{{vm.trade.sellSymbol}}</span><span class="base-q" tooltipped data-position="top" data-delay="10" data-tooltip="You can change your 'Currency Sold' above."><i class="fa fa-question-circle" aria-hidden="true"></i></span>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="col s2">
          Fee
        </div>
        <div class="col s3 center-align">
          <div class="input-field inline">
            <input ng-model="vm.trade.fee" id="trade_fee" type="number" step="any" ng-blur="vm.calcTotal()">
            <label for="trade_fee">Fee</label>
          </div>
        </div>
        <div class="col s2">
          <div class="input-field inline">
            <input ng-model="vm.trade.feeSymbol" id="trade_fee_curr" type="text" ng-blur="vm.calcCost()">
            <label for="trade_fee_curr">Fee Currency</label>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="col s2 center-align">
          <div class="trade-summary">
            TRADE SUMMARY:
          </div>
        </div>
        <div class="col s8">
          <ul>
            <li>
              <span ng-if="vm.tradeDir == 'buy'">Buying</span><span ng-if="vm.tradeDir == 'sell'">Selling</span> <span ng-if="vm.trade.buyQty">{{vm.trade.buyQty}}</span><span ng-if="!vm.trade.buyQty">0</span> shares of <span ng-if="vm.trade.buySymbol">{{vm.symbolBuy}}</span><span ng-if="!vm.trade.buySymbol">(symbol)</span> at a rate of <span ng-if="vm.trade.buyRate">{{vm.trade.buyRate}}</span><span ng-if="!vm.trade.buyRate">0.00</span> {{vm.trade.sellSymbol}} on {{vm.trade.exchange}}
            </li>
            <li>Fee is {{vm.trade.fee}} {{vm.trade.feeSymbol}}</li>
            <li>Total cost is {{vm.totalCost}}</li>
          </ul>
        </div>
        <div class="col s2" ng-show="vm.trade.sellSymbol !== 'USD'">
          <div class="input-field inline">
            <input name="base_usd" type="number" step="any" ng-model="vm.trade.base_usd">
            <label for="base_usd">1 {{vm.trade.sellSymbol}} = (?) USD</label>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="col s2">
          Notes
        </div>
        <div class="input-field col s6">
          <textarea name="notes" class="materialize-textarea" ng-model="vm.trade.notes"></textarea>
          <label for="notes">Notes</label>
        </div>
        <div class="input-field col s4">
          <input type="text" name="txid" ng-model="vm.trade.txid">
          <label for="txid">Tx ID</label>
        </div>
      </section>
      <section class="row">
        <div class="col s4 offset-s2">
          <button class="btn" type="submit">Submit Trade</button>
        </div>
      </section>
    </form>
  </div>
</div>
